@page
@model MagicVilla_VillaAPI.Pages.IndexModel
@{
}

<header>
    <div>
        <ul>
            <li>
                <button onclick="/VillaList/Index"> Villa</button>
                <a class="nav-link" asp-page="/VillaList/Index">Villa</a>
                <a href="/VillaList/Index">Villa</a>
            </li>
        </ul>
    </div>

</header>